.idea
.htaccess
.htaccess.sample
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
api.php
app/.htaccess
app/Mage.php
app/code/community/Find/
app/code/community/Phoenix/
app/code/core/
app/design/adminhtml/default/default/layout/
app/design/adminhtml/default/default/locale/
app/design/adminhtml/default/default/template/a*
app/design/adminhtml/default/default/template/b*
app/design/adminhtml/default/default/template/c*
app/design/adminhtml/default/default/template/d*
app/design/adminhtml/default/default/template/eav/
app/design/adminhtml/default/default/template/email/
app/design/adminhtml/default/default/template/empty.phtml
app/design/adminhtml/default/default/template/example.phtml
app/design/adminhtml/default/default/template/f*
app/design/adminhtml/default/default/template/g*
app/design/adminhtml/default/default/template/i*
app/design/adminhtml/default/default/template/login.phtml
app/design/adminhtml/default/default/template/m*
app/design/adminhtml/default/default/template/n*
app/design/adminhtml/default/default/template/o*
app/design/adminhtml/default/default/template/overlay_popup.phtml
app/design/adminhtml/default/default/template/page.phtml
app/design/adminhtml/default/default/template/p*
app/design/adminhtml/default/default/template/r*
app/design/adminhtml/default/default/template/s*
app/design/adminhtml/default/default/template/t*
app/design/adminhtml/default/default/template/u*
app/design/adminhtml/default/default/template/w*
app/design/adminhtml/default/default/template/x*
app/design/adminhtml/default/f*
app/design/frontend/default/
app/design/frontend/base/default/etc/
app/design/frontend/base/default/layout/*.xml
app/design/frontend/base/default/layout/s*
app/design/frontend/base/default/template/*.phtml
app/design/frontend/base/default/template/a*
app/design/frontend/base/default/template/b*
app/design/frontend/base/default/template/c*
app/design/frontend/base/default/template/d*
app/design/frontend/base/default/template/email
app/design/frontend/base/default/template/f*
app/design/frontend/base/default/template/g*
app/design/frontend/base/default/template/g*
app/design/frontend/base/default/template/m*
app/design/frontend/base/default/template/n*
app/design/frontend/base/default/template/p*
app/design/frontend/base/default/template/r*
app/design/frontend/base/default/template/s*
app/design/frontend/base/default/template/t*
app/design/frontend/base/default/template/w*
app/design/frontend/base/default/template/x*
app/design/install/
app/etc/config.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/modules/Find_Feed.xml
app/etc/modules/M*
app/etc/modules/P*
app/locale/
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php
js/
lib/
mage
media/
php.ini.sample
pkginfo/
shell/
skin/adminhtml
skin/install
var/