<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="eltrino_printorder_observer" instance="Eltrino\PrintOrder\Model\Observer" method="fillGuestsOrdersTable"/>
    </event>
</config>
