<?xml version="1.0"?>
<config>
    <modules>
        <Eltrino_PrintOrder>
            <version>1.0.0.0</version>
        </Eltrino_PrintOrder>
    </modules>
    <global>
        <models>
            <eltrino_printorder>
                <class>Eltrino_PrintOrder_Model</class>
                <resourceModel>eltrino_printorder_resource</resourceModel>
            </eltrino_printorder>
            <eltrino_printorder_resource>
                <class>Eltrino_PrintOrder_Model_Resource</class>
                <entities>
                    <guests_orders><table>eltrino_guests_orders</table></guests_orders>
                </entities>
            </eltrino_printorder_resource>
        </models>
        <resources>
            <eltrino_printorder_setup>
                <setup>
                    <module>Eltrino_PrintOrder</module>
                </setup>
            </eltrino_printorder_setup>
        </resources>
        <blocks>
            <eltrino_printorder>
                <class>Eltrino_PrintOrder_Block</class>
            </eltrino_printorder>
            <checkout>
                <rewrite>
                    <onepage_success>Eltrino_PrintOrder_Block_Checkout_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <eltrino_printorder>
                <class>Eltrino_PrintOrder_Helper</class>
            </eltrino_printorder>
        </helpers>
    </global>
    <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <eltrino_printorder_observer>
                        <class>eltrino_printorder/observer</class>
                        <method>fillGuestsOrdersTable</method>
                    </eltrino_printorder_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <routers>
            <eltrino_printorder>
                <use>standard</use>
                <args>
                    <module>Eltrino_PrintOrder</module>
                    <frontName>guest</frontName>
                </args>
            </eltrino_printorder>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <guests_orders_cleaning>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>eltrino_printorder/observer::cleanExpiredGuestsOrders</model></run>
            </guests_orders_cleaning>
        </jobs>
    </crontab>
</config>
